# haproxy.cfg
global
    log stdout format raw

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 10s
    timeout client  1m
    timeout server  1m

# Секция для балансировки запросов
frontend pgsql_front
    bind *:5432
    default_backend pgsql_back

# Маршрутизация запросов между мастер и слейв
backend pgsql_back
    mode tcp
    option tcp-check
    balance roundrobin
    stick-table type ip size 1m expire 1h
    acl is_write query_begins -i "insert" "update" "delete" "alter" "create" "drop"
    use-server postgres-master if is_write
    server postgres-master postgres-master:5432 check
    server postgres-slave postgres-slave:5432 check